<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
            rel="stylesheet"
    />

    <title>Reflux HTML CSS Template</title>
    <!--
    Reflux Template
    https://templatemo.com/tm-531-reflux
    -->
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css"/>
    <link rel="stylesheet" href="assets/css/templatemo-style.css"/>
    <link rel="stylesheet" href="assets/css/owl.css"/>
    <link rel="stylesheet" href="assets/css/lightbox.css"/>
    <link rel="stylesheet" href="assets/css/custom.css"/>
</head>

<body>
<div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
            <i class="fa fa-times" id="menu-close"></i>
            <div class="container">
                <div class="image">
                    <a href="#"><img src="assets/images/author-image.png" alt=""/></a>
                </div>
                <div class="author-content">
                    <h4>Hicham SLIMANI</h4>
                    <span>Développeur WEB</span>
                </div>
                <nav class="main-nav" role="navigation">
                    <ul class="main-menu">
                        <li><a href="#section1">Me concernant</a></li>
                        <li><a href="#section2">Outils de travail</a></li>
                        <li><a href="#section3">Projets</a></li>
                        <li><a href="#section4">Contact Me</a></li>
                    </ul>
                </nav>
                <div class="social-network">
                    <ul class="soial-icons">
                        <li>
                            <a href="https://fb.com/templatemo"
                            ><i class="fa fa-facebook"></i
                                ></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="copyright-text">
                    <p>Copyright 2019 Reflux Design</p>
                </div>
            </div>
        </div>
    </div>

    <section class="section about-me" data-section="section1">
        <div class="container pb-5">

            <div class="section-heading px-0 px-md-1">
                <h2>Me concernant</h2>
                <div class="line-dec"></div>
                <p class="h4" style="line-height: 2rem;">
                    💻 <b class="font-weight-bold">Développeur web</b>, je conçois des sites
                    et applications sur mesure, accessibles et performants. J’apporte des solutions simples et
                    efficaces pour accompagner les entreprises dans leur transformation digitale. <br /> <br />
                </p>
                <p class="h4 font-weight-bold" style="line-height: 2rem;">
                    Mon approche allie rigueur technique, polyvalence et proximité afin de
                    répondre au mieux aux besoins de chaque client.
                </p>

                <a href="#" class="btn btn-primary mt-3">
                    <i class="fa fa-download"></i>
                    Télécharger mon CV
                </a>
            </div>

        </div>
    </section>

    <section class="section my-services" data-section="section2">
        <div class="container pb-5">
            <div class="section-heading p-5">
                <h2>Outils de travail</h2>
                <div class="line-dec"></div>
                <p>Différents outils pour différent projet</p>
            </div>

            <div class="mb-4">
                {% for category in data.categories %}
                    <div class="mb-4">
                        <h3>{{ category.name|e }}</h3>
                    </div>
                    <div class="card mb-4" style="background-color: #2125297E;">
                        <div class="card-body d-flex flex-column" style="gap: 2rem 0;">
                            {% for subCategory in category['sub-categories'] %}
                                <h4 class="text-white-50">{{ subCategory.name|e }}</h4>

                                <div class="row" style="gap: 2rem 0;">
                                    {% for element in subCategory.elements %}
                                        <div class="col-6 col-sm-3 d-flex justify-content-between align-items-center flex-column">
                                            <img class="mx-auto d-block" style="object-fit: contain; width: 100%; max-width: 100px;" src="assets/images/tools/{{ element.image_path }}" alt="{{ element.name }}">
                                            <div class="mt-3 text-center">
                                                <span>{{ element.name|e }}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                {% endfor %}
            </div>

        </div>
    </section>

    <section class="section my-work" data-section="section3">
        <div class="container pb-5">
            <div class="section-heading pb-5">
                <h2>Projets</h2>
                <div class="line-dec"></div>
                <p>Un aperçu de mes compétences à travers mes créations</p>
            </div>
            <div>
                {% for project in data.projects %}
                    <div class="card mb-4" style="background-color: #2125297E;">
                        <div class="row no-gutters">
                            <a href="{{ project.link }}" target="_blank" class="col-md-5 overflow-hidden position-relative {{ loop.index % 2 == 0 ? 'order-md-1 rounded-right' : 'rounded-left' }}">
                                <div class="w-100 h-100 position-absolute p-1 d-flex justify-content-end align-items-end" style="background-color: rgba(0,0,0,0.1);">
                                    <div class="d-flex flex-row flex-wrap justify-content-end" style="gap: 0.25rem;">
                                        {% for tag in project.tags %}
                                            <span style="background-color: rgb(0, 0, 0, 0.7);" class="badge badge-outline-primary border border-primary font-weight-normal shadow px-2 py-1 text-white-90">{{ tag }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <img src="assets/images/project/{{ project.image_path }}" class="h-100" style="object-fit: cover" alt="{{ project.name }}">
                            </a>
                            <div class="col-md-7">
                                <div class="card-body d-flex flex-column justify-content-between h-100">
                                    <div>
                                        <h3 class="text-white-90 h3">{{ project.name|e }}</h3>
                                        <p class="text-white-90">{{ project.description|e }}</p>
                                    </div>
                                    {% if (project.links) %}
                                        <div>
                                            {% for link in project.links %}
                                                <a href="{{ link.href }}" target="_blank" class="text-white btn btn-{{ link.type ?? 'primary' }}">
                                                    {% if link.icon %}
                                                        <i class="{{ link.icon }}"></i>
                                                    {% endif %}

                                                    {{ link.text|e }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center mt-5">
                <a href="#" class="btn btn-primary">
                    <i class="fa fa-download"></i>
                    Télécharger mon CV
                </a>
            </div>
        </div>
    </section>

    <section class="section contact-me" data-section="section4">
        <div class="container">
            <div class="section-heading">
                <h2>Contact Me</h2>
                <div class="line-dec"></div>
                <span
                >Fusce eget nibh nec justo interdum condimentum. Morbi justo ex,
              efficitur at ante ac, tincidunt maximus ligula. Lorem ipsum dolor
              sit amet, consectetur adipiscing elit.</span
                >
            </div>
            <div class="row">
                <div class="right-content">
                    <div class="container">
                        <form id="contact" action="" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <input
                                                name="name"
                                                type="text"
                                                class="form-control"
                                                id="name"
                                                placeholder="Your name..."
                                                required=""
                                        />
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <input
                                                name="email"
                                                type="text"
                                                class="form-control"
                                                id="email"
                                                placeholder="Your email..."
                                                required=""
                                        />
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <input
                                                name="subject"
                                                type="text"
                                                class="form-control"
                                                id="subject"
                                                placeholder="Subject..."
                                                required=""
                                        />
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                        <textarea
                                name="message"
                                rows="6"
                                class="form-control"
                                id="message"
                                placeholder="Your message..."
                                required=""
                        ></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="button">
                                            Send Message
                                        </button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/lightbox.js"></script>
<script src="assets/js/custom.js"></script>
<script>
    //according to loftblog tut
    $(".main-menu li:first").addClass("active");

    var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
            reqSection = $(".section").filter(
                '[data-section="' + direction + '"]'
            ),
            reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
            $("body, html").animate(
                {
                    scrollTop: reqSectionPos
                },
                800
            );
        } else {
            $("body, html").scrollTop(reqSectionPos);
        }
    };

    var checkSection = function checkSection() {
        $(".section").each(function () {
            var $this = $(this),
                topEdge = $this.offset().top - 80,
                bottomEdge = topEdge + $this.height(),
                wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
                var currentId = $this.data("section"),
                    reqLink = $("a").filter("[href*=\\#" + currentId + "]");
                reqLink
                    .closest("li")
                    .addClass("active")
                    .siblings()
                    .removeClass("active");
            }
        });
    };

    $(".main-menu").on("click", "a", function (e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
    });

    $(window).scroll(function () {
        checkSection();
    });
</script>
</body>
</html>
